body {
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  cursor: url('cursors/cursore.svg'), default; 

}

.todo-page {
  max-width: 800px;
  margin: 60px auto;
  padding: 2rem;
  background-color: #2a2a40;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transition: transform 0.3s;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #45475a;
  background-color: #313244;
  border-radius: 6px;
  margin-bottom: 0.75rem;
  cursor: url('cursors/mano.svg'), pointer; 
  transition: background-color 0.3s;
}

.task-list li:hover {
  background-color: #3e3e5c;
}

.task-list li.completed {
  text-decoration: line-through;
  color: #888;
  background-color: #252537;
  cursor: not-allowed;
}

.filters {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 0.5rem 1rem;
  cursor: url('cursors/mano.svg'), pointer; 
  background-color: #b798ff;
  color: #1e1e2e;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.filter-btn:hover {
  background-color: #6200ff;
  color: white;
  transform: scale(1.05);
}
